.tablerowi .cellmodule {
  padding-left: 0 !important;
}
.w_280 {
  width: 280px;
}
.text_overflow_moduled {
  width: 100%;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.w_155 {
  width: 155px;
}
.element {
  border: 3px solid;
  border-color: #446f54;
  border-image-slice: 1;
  border-radius: 15px;
}
.diet_val_container {
  width: 125px;
}
.diet_val_cont {
  width: 125px;
}
.diet_cell {
  width: 121px;
}
.diet_gender {
  width: 121px;
}
.cellmodule4 {
  width: 580px;
}
.cell_gend {
  width: 580px;
}
.cell_dimn {
  width: 580px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cellmodule5 {
    width: 515px !important;
  }
  .cellmodule6 {
    width: 550px !important;
  }
  .cellmodule7 {
    width: 510px !important;
  }
  .cellmodule3 {
    width: 500px !important;
  }
  .diet_val_container {
    width: 125px;
  }
  .cell_dimn {
    width: 586px;
  }
  .cell_gend {
    width: 580px;
  }
  .diet_gender {
    width: 121px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .cellmodule2 {
    width: 630px !important;
  }
  .cellmodule1 {
    width: 866px !important;
  }
  .cellmodule3 {
    width: 500px !important;
  }
  .cellmodule5 {
    width: 517px !important;
  }
  .cellmodule6 {
    width: 673px !important;
  }
  .cellmodule7 {
    width: 512px !important;
  }
  .diet_val_container {
    width: 122px;
  }
  .cell_dimn {
    width: 705px;
  }
  .cell_gend {
    width: 580px;
  }
  .diet_gender {
    width: 121px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .cellmodule {
    width: 785px !important;
  }
  .cellmodule2 {
    width: 515px !important;
  }
  .cellmodule1 {
    width: 692px !important;
  }
  .cellmodule3 {
    width: 500px !important;
  }
  .cellmodule5 {
    width: 508px !important;
  }
  .cellmodule6 {
    width: 690px !important;
  }
  .cellmodule7 {
    width: 510px !important;
  }
  .diet_val_container {
    width: 127px;
  }
  .cell_dimn {
    width: 730px;
  }
  .cell_gend {
    width: 580px;
  }
  .diet_gender {
    width: 121px;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .cellmodule6 {
    width: 610px !important;
  }
}

@media (min-width: 1441px) and (max-width: 1600px) {
  .cellmodule {
    width: 785px !important;
  }
  .cellmodule2 {
    width: 515px !important;
  }
  .cellmodule1 {
    width: 692px !important;
  }
  .cellmodule3 {
    width: 500px !important;
  }
  .cellmodule5 {
    width: 582px !important;
  }
  .cellmodule6 {
    width: 790px !important;
  }
  .cellmodule7 {
    width: 515px !important;
  }
  .diet_val_container {
    width: 140px;
  }
  .cell_dimn {
    width: 840px;
  }
  .cell_gend {
    width: 635px;
  }
  .diet_gender {
    width: 129px;
  }
}

@media (min-width: 1601px) and (max-width: 1919px) {
  .cellmodule {
    width: 782px !important;
  }
  .cellmodule2 {
    width: 632px !important;
  }
  .cellmodule1 {
    width: 792px !important;
  }
  .cellmodule3 {
    width: 500px !important;
  }
  .cellmodule5 {
    width: 631px !important;
  }
  .cellmodule6 {
    width: 850px !important;
  }
  .cellmodule7 {
    width: 510px !important;
  }
  .diet_val_container {
    width: 154px;
  }
  .cell_dimn {
    width: 912px;
  }
  .cell_gend {
    width: 685px;
  }
  .diet_gender {
    width: 140px;
  }
}

/* Extra Large Screens */
@media (min-width: 1920px) {
  .cellmodule5 {
    width: 632px !important;
  }
  .cellmodule6 {
    width: 850px !important;
  }
  .cellmodule7 {
    width: 515px !important;
  }
  .cellmodule3 {
    width: 500px !important;
  }
  .diet_val_container {
    width: 153px;
  }
  .cell_dimn {
    width: 905px;
  }
  .cell_gend {
    width: 690px;
  }
  .diet_gender {
    width: 138px;
  }
}
