.tablerowi .cellmodule {
  padding-left: 0 !important;
}
.w_280 {
  width: 280px;
}
.text_overflow_moduled {
  width: 100%;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.w_155 {
  width: 155px;
}
.element {
  border: 3px solid;
  border-color: #446f54;
  border-image-slice: 1;
  border-radius: 15px;
  /* border-image-source: linear-gradient(
    132.05deg,
    #c9ffdd -6.28%,
    #2a884d 31.43%,
    #1e6639 56.17%,
    #7e8882 76.32%,
    #0c2917 100.47%,
    #000000 129.39%
  ); */
}
/* Small Mobile (Portrait) */
@media (max-width: 320px) {
  /* Styles for small mobile devices in portrait mode */
}

/* Mobile Devices (Portrait) */
@media (max-width: 480px) {
  /* Styles for mobile devices in portrait mode */
}

/* Tablets (Portrait) */
@media (max-width: 768px) {
  /* Styles for tablets in portrait mode */
}

/* Tablets (Landscape) */
@media (max-width: 1024px) {
  /* Styles for tablets in landscape mode */
}

/* Small Desktops */
@media (max-width: 1200px) {
  /* Styles for small desktops */
}

/* Large Desktops */
@media (max-width: 1600px) {
  /* Styles for large desktops */
}

/* Extra Large Screens */
@media (max-width: 1920px) {
  /* Styles for extra large screens */
}

/* Small Mobile (Portrait) */
@media (min-width: 320px) {
  /* Styles for small mobile devices in portrait mode */
}

/* Mobile Devices (Portrait) */
@media (min-width: 480px) {
  /* Styles for mobile devices in portrait mode */
}

/* Tablets (Portrait) */
@media (min-width: 768px) {
  /* Styles for tablets in portrait mode */
}

/* Tablets (Landscape) */
@media (min-width: 1024px) {
  /* Styles for tablets in landscape mode */
  .cellmodule2 {
    width: 583px !important;
  }
}

/* Small Desktops */
@media (min-width: 1200px) and (max-width: 1599px) {
  /* Styles for small desktops */
  .cellmodule {
    width: 785px !important;
  }
  .cellmodule2 {
    width: 515px !important;
  }
}

/* Large Desktops */
@media (min-width: 1600px) and (max-width: 1920px) {
  /* Styles for large desktops */
  .cellmodule {
    width: 782px !important;
  }
  .cellmodule2 {
    width: 590px !important;
  }
}

/* Extra Large Screens */
@media (min-width: 1920px) {
  /* Styles for extra large screens */
}
